*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
}
header {
    background: #cccccc;
}
header >h1 > img {
    display: inline-block;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;

}
.navigation {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
nav li {
    display: inline;
    padding: 5px;
}
nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav li a:hover {
    color: blue;
}

.contact {   
    margin: 30px;    

}
form {
    margin: 60px;
}
form, label, textarea, p {
    display: block;
}
.default {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    padding: 13px;
}
textarea {
    margin-bottom: 15px;
}
#info {
    margin: 20px 20px 20px 0;
}

.section input {
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.button {
    border: none;
    border-radius: 20px;
    background: rgb(90, 68, 172);
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}

.button:hover {
    background: rgb(171, 156, 212);
    transition: 2s;
    transform: scale(1.1);
   /* transform: scale(1.2) rotate(360deg);*/
    cursor: pointer;
}

table {
    margin: 20px 60px 40px;
    border-collapse: collapse; 
}
thead {
    background: #555555;
    color: #FFFFFF;
    border: 1px solid black;
    
}
td, th {
    border: 1px solid black; 
    padding: 15px; 
}
footer {
    margin-top: 50px;
    text-align: center;
    color: #FFFFFF;
    background: url('./../../assets/bg.jpg');   
}