*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
h1 {
    font-weight: bold;
}
header {
    background: #cccccc;
}
header >h1 > img {
    display: inline-block;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
.navigation {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
nav li {
    display: inline;
    padding: 5px;
}
nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
nav li a:hover {
    color: blue;
}
.banner {
    width: 100%;
}
.main {

    padding: 30px;    
}
.main h1 {
    font-size: 2em;   
    padding: 1em;
    text-align: center;
}
p {
    text-align: center;
}

.gradientebackground {
    background: linear-gradient(#FFFFFF, #888888, #000);
}
.beneficios {
    width: 80%;
    margin: 0 auto;
}
.beneficios > h2 {
    text-align: center;
    font-size: 2em;   
    padding: 1em;
}
.beneficios > ul {
    font-style: italic;
    display: inline-block; 
    vertical-align: top;
    float: left;
    list-style: none;
}
.beneficios > ul > li:nth-child(1) {
    font-weight: bold;
    content: "☞";
}

.beneficios > ul > li::before {    
    content: "☞ ";
    
}
.imgBeneficio {
    width: 55%;
    margin-left: 25%;
}
.imgBeneficio:hover {
    opacity: 0.4;
    transition: 1s;
}
.localizacao {
    padding: 2em;
    width: 90%;
    margin: 0 auto;
}
.localizacao > h1 {
    text-align: center;
    font-size: 2em;
    padding: 1em;
}
.localizacao > iframe {
    box-sizing: border-box ;
    padding: 1em;
    width: 100%;
}
.video  {
    width: 90%;
    margin: 0 auto;
}
.alig {
    width: 100%;
    height: 400px;
    margin-left: 10%;
    box-sizing: border-box;
}
.alig > iframe{
    margin: 0 auto;
    width: 70%;
    height: 315px;
}

footer {
    clear: left;
    text-align: center;
    color: #FFFFFF;
    background: url('./../../assets/bg.jpg');
}

@media screen and (max-width: 450px) {
  .localizacao , .beneficios, .video {
      width: auto;
  }  
  header nav {
      width: 100%;
      position: static;
      padding-bottom: 1em;
      padding-left: 10%;
  }
  .beneficios {
      padding: 20px
  }
  .beneficios ul {
    padding: 20px
}
.beneficios img {
    width: 60%;
}
  header img {
    width: 100%;
}
} 