*{
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
header {
    background: #cccccc;
}
header >h1 > img {
    display: inline-block;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;

}
.navigation {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
nav li {
    display: inline;
    padding: 5px;
}
nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.servicos {
    width: 100%;
    position: relative;
   
}
.produtos {
    width: 70%;
    margin: 0 auto;

}
.produtos li {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    padding: 20px;
}
.produtos h2 {
    text-align: center;
}
.produtos p {
    text-align: center;
}